<%= render 'menu' %>

<div class="container">
	<div class="row">
		<h2><%= @todays_date %> 
			<a href="/<%= @previous_year %>/week/<%= @previous_week %>/day/<%= @previous_day %>"><i class="fas fa-arrow-alt-circle-left"></i></a> 
			<a href="/<%= @next_year %>/week/<%= @next_week %>/day/<%= @next_day %>"><i class="fas fa-arrow-alt-circle-right"></i></a>
		</h2>

	<% if @week > 52 || @day > 7 || @week < 1 || @day < 1 %>
		<h3>Blue Screen</h3>
		<p>
			Invalid Date or Data Error<br>
			Week Number: <%= @week %>, Day Number: <%= @day %>
		</p>
		<% else %>
		<p>
			Week Number: <%= @week %>, Day Number: <%= @day %>
		</p>
	</div>
	<div class="row">
		<table border="1">
			<tr>
				<th>Shelver</th>
				<th>Hours Today</th>
				<th>Email</th>
				<th>Shelf<br>Reading</th>
				<th>Department</th>
				<th>Daily Tasks</th>
				<th>Cleanup</th>
				<th>#Carts Shelved</th>
				<th>#Carts Sorted</th>
				<th></th>
			</tr>
		<% @shelvers.each do |shelver| %>
			<tr>
				<% day_object = DateTime.now.strftime("%a").downcase %>
				<%# cleanup_start = shelver.schedules.last.send(day_object).split("-").first %>
				<%# cleanup_end = (cleanup_start.to_i + 1) % 12 %>
				<%# cleanup_period = "#{cleanup_start}-#{cleanup_end}" %>
				<td><%= link_to "#{shelver.last_name}, #{shelver.first_name}", shelver %></td>
				<td><%= shelver.schedules.last.send(day_object) %></td>
				<% if shelver.daily_logs.map{|dl| dl.week_number}.include?(@week) && shelver.daily_logs.map{|dl| dl.day_number}.include?(@day) %>
				<td><i class="fas fa-exclamation-triangle"></i></td>
				<td></td>
				<td></td>
				<td></td>
				<td>(x-x)</td>
				<% else %>
				<td colspan="5"><i class="fas fa-exclamation-triangle"></i> No Daily Log found</td>
				<% end %>
				<td>{{ generated }}</td>
				<td>{{ generated }}</td>
				<td><a href="#"><i class="fas fa-edit"></i></a></td>
			</tr>
		<% end if @shelvers != nil %>
		<% if @shelvers == nil %>
			<tr>
				<td colspan="9">No data</td>
			</tr>
		<% end %>
		</table>
	</div>

	<% end %>

	<div class="row">
	<p>
		<%= render 'notes' %>
	</p>
	</div>

</div>