<%= render 'menu' %>

<div class="container">
	<div class="row">
		<div class="float-left">
			<h2><%= @todays_date %> 
			<a href="/<%= @previous_year %>/week/<%= @previous_week %>/day/<%= @previous_day %>"><i class="fas fa-arrow-alt-circle-left"></i></a> 
			<a href="/<%= @next_year %>/week/<%= @next_week %>/day/<%= @next_day %>"><i class="fas fa-arrow-alt-circle-right"></i></a>
			</h2>
		</div>
		<div class="ml-auto"><h2><a href=""><i class="fas fa-user-edit"></i></a></h2></div>
	</div>
	<div class="row">
	<% if @week > 53 || @day > 7 || @week < 1 || @day < 1 %>
		<h3>Blue Screen</h3>
		<p>
			Invalid Date or Data Error<br>
			Week Number: <%= @week %>, Day Number: <%= @day %>
		</p>
	<% else %>
		<p>
			Week Number: <%= @week %>, Day Number: <%= @day %>
		</p>
	</div>
	<div class="row">

		<table border="1">
			<tr>
				<th>Shelver</th>
				<th>Hours Today</th>
				<th>Email</th>
				<th>Shelf<br>Reading</th>
				<th>Department</th>
				<th>Daily Tasks</th>
				<th>Cleanup</th>
				<th>#Carts Shelved</th>
				<th>#Carts Sorted</th>
				<th></th>
			</tr>
		<% @shelvers.each do |shelver| %>
			<tr>
				<td><%= link_to "#{shelver.last_name}, #{shelver.first_name}", shelver %></td>
				<td><%= shelver.sched_for_day(@year, @week, @day_symbol) %></td>
				<% daily_log = shelver.show_daily_log(@year, @week, @day) %>

				<% if daily_log != nil %>
				<td><%= daily_log.email %></td>
				<td><%= daily_log.shelf_reading %></td>
				<td><%= daily_log.department %></td>
				<td><%= daily_log.daily_tasks %></td>
				<td><%= daily_log.cleanup %></td>
				<td>{{ generated }}</td>
				<td>{{ generated }}</td>
				<td class="edit-icon"><%= link_to '<i class="fas fa-info-circle"></i>'.html_safe, shelver %></td>
				<% else %>
				<td colspan="5"><i class="fas fa-exclamation-triangle"></i> No Daily Log found</td>
				<td>{{ generated }}</td>
				<td>{{ generated }}</td>
				<td class="edit-icon"><%= link_to '<i class="fas fa-info-circle"></i>'.html_safe, shelver %></td> 
				<% end %>

			</tr>
		<% end %>
		<% if @shelvers.count == 0 %>
			<tr>
				<td colspan="10">No data</td>
			</tr>
		<% end %>
		</table>
	</div>

	<% end %>

	<div class="row">
	<p>
		<%= render 'notes' %>
	</p>
	</div>

</div>