<div class="modal-header">
   <h3 id="myModalLabel">Add Daily Tasks</h3>
 </div>
<%= form_for(@daily_log) do |f| %>
 <div class="modal-body">
	<p><%= @shelver.first_name %> <%= @shelver.last_name %></p>
	<div class="actions">
	<table>
	<tbody>
		<%= f.hidden_field :shelver_id, value: @shelver.id %>
		<%= f.hidden_field :year, value: @year %>
		<%= f.hidden_field :week_number, value: @week %>
		<%= f.hidden_field :day_number, value: @day %>
		<tr><td>Department:</td><td><%= text_field :daily_log, :department %></td></tr>
		<tr><td>Daily Tasks:</td><td><%= text_field :daily_log, :daily_tasks %></td></tr>
		<tr><td>Cleanup:</td><td><%= text_field :daily_log, :cleanup %></td></tr>
	<!-- <tr><td></td><td><%#= link_to '<i class="fa fa-ban"></i>'.html_safe, @daily_log %> <%#= link_to '<i class="fa fa-list"></i>'.html_safe, daily_log_path %></td></tr>
	<tr><td>URL</td><td><%#= text_field :daily_log, :url %></td></tr>
	<tr><td valign="top"><p>Description</p></td><td><%#= text_area :daily_log, :description, maxlength: 40 %></td></tr> -->
	<!-- <tr><td></td><td><div id="charNum"><span>40</span> characters left</div><%= f.submit %>&nbsp;&nbsp;<%#= link_to 'Cancel', @cat %></td></tr> -->
	</tbody>
	</table>
	</div>

 </div>
 <div class="modal-footer">
   <button class="btn" class="close" data-dismiss="modal">Cancel</button>
   <%= f.submit class: "btn btn-primary" %>
 </div>
<% end %>