  
  <%# if @shelver.errors.any? %>
    <div class="bgError">
      <%# @shelver.errors.full_messages.each do |msg| %>
        <%#= msg %><br>
      <%# end %>
    </div>
  <%# end %>
<%= form_for(@shelver) do |f| %>
  <div class="actions">
    <table class="new-edit">
      <tbody>
        <tr><td></td><td><%= link_to '<i class="fa fa-ban"></i>'.html_safe, @shelver %> <%= link_to '<i class="fa fa-list"></i>'.html_safe, shelvers_path %><% if !current_page? new_shelver_path %> <%= link_to '<i class="fa fa-trash"></i>'.html_safe, @shelver, method: :delete, data: { confirm: 'Are you sure?' } %><% end %></td></tr>
        <tr><td>First Name</td><td><%= text_field :shelver, :first_name %></td></tr>
        <tr><td>Last Name</td><td><%= text_field :shelver, :last_name %></td></tr>
        <tr><td></td><td><%= f.submit %>&nbsp;&nbsp;<%= link_to 'Cancel', @shelver %></td></tr>
      </tbody>
    </table>
  </div>
<% end %>