<%= render 'menu' %>

<div class="container">
	<div class="row">

<h2>Setup Wizard</h2>

<p>
	Year: <%= @year %>, Week: <%= @week %><br>
	<%= @start_of_week %> - <%= @end_of_week %>
</p>
	</div>
</div>