<%= render 'menu' %>

<div class="container py-3">
	<div class="row">
		<h2>Setup Wizard</h2>
	</div>
	<div class="row">
		<p>
			Year: <%= @year %>, Week: <%= @week %><br>
			<%= @start_of_week %> - <%= @end_of_week %>
		</p>
	</div>
</div>