<!DOCTYPE html>
<html>
<head>
  <title>ShelversApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.8.1/css/bootstrap-select.css">
  <%= javascript_include_tag 'application' %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.8.1/js/bootstrap-select.js"></script>
  <script>
  	$('select').selectpicker();
  </script>
  <%= csrf_meta_tags %>
</head>
<body>
	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

	<% if user_signed_in? %>
	  Hello, <%= link_to current_user.email, edit_user_registration_path, :class => 'navbar-link' %> (<%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>)
	<% else %>
	  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
	  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>

	  <p><strong>fancy (or not) homepage</strong></p>
	<% end %>

<%= yield %>

</body>
</html>
